# Auto detect text files and perform LF normalization
* text=auto

* linguist-detectable=false
Assets/_Project/** linguist-detectable=true

*.meta linguist-detectable=false linguist-vendored
*.asset linguist-detectable=false linguist-vendored
*.unity linguist-detectable=false linguist-vendored
*.prefab linguist-detectable=false linguist-vendored
*.mat linguist-detectable=false linguist-vendored
*.controller linguist-detectable=false linguist-vendored
*.anim linguist-detectable=false linguist-vendored